.widgetname {

}

.widgetname-message {

}

.input-group-addon {
    clear: both;
    padding: 2px 6px;
}

.widgetname-infoTextNode {
    padding: 0.8em 1em;
    margin-top: 10px;
}

g {
  -webkit-transform-origin: 160px 160px;
      -ms-transform-origin: 160px 160px;
          transform-origin: 160px 160px;
}
